<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Student Bean -->
    <bean id="student" class="com.example.spring.entity">
        <property name="name" value="Priyanshu"/>
        <property name="age" value="22"/>
    </bean>

</beans>